<div class="container design">
    <div class="mb-4 secTitle">
        <div class="d-block hello">HELLO</div>
        <div class="fs-2 fw-bold welcome">WELCOME TO <span class="text-danger">QUIZ</span> APP</div>
    </div>
    <div class="name col-md-4">
        <label for="" class="nameInput">Enter your name:</label>
        <input #name type="text" class="form-control">
        <button class="btn start" routerLink="/question" (click)="startQuiz()">Start the Quiz!</button>
    </div>   
    
</div>